name: Unit Tests

on:
  push:
    branches: [ main, task-2 ]
  pull_request:
    branches: [ main, task-2 ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install "scikit-learn==1.5.2" "imbalanced-learn==0.13.0"
        
    - name: Run unit tests
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        python3 -m unittest discover tests/
